.App {
  background-image: rgba(255,255,255,255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(255,255,255,255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgba(33,33,33,255);
}

.App-link {
  color: rgb(4,132,148);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forminputs {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: .5em;
}

.sign-up {
  background-color: rgba(246,88,88,255);
  color: rgba(254,244,244,255);
  border-radius: .5em;
  width: 95%;
  min-height: 5vh ;
  outline: none;
}
 
a {
  color: rgb(4,132,148);
}
.center {
  text-align: center;
}

/* colors from meetup website:  logo color: rgba(255,17,84,255) logo-text-pink: rgba(254,244,244,255) background "white" rgba(237,28,64,255) pink-button: rgba(246,88,88,255) background-lightblue: rgba(234,245,246,255) text-darkgray: rgba(33,33,33,255) teal-blue: rgb(4,132,148) button-text-blue: rgba(203,229,233,255) light-gray used for subtitles: rgb(156,156,156) */